<div class="jumbotron main-jumbotron">
 <a href="/"><img class="main-logo img-responsive" src="/assets/logo.png"></a>
</div>

<div class="instructions">
  <div class="container">
    <p> Already bought your ticket to the hippest long weekend of the year? Wise life decision.
     Now, let's get your sorted with all things informaton. Check out directions to venues, listen to all the featured bands and sign-up or log-in to create your festival schedule.
   </p>
  </div>
</div>

<div class="milliprik"></div>
<h2 class="title" id="show-all">Explore</h2>
<div id="hide-all">
  <div class="container-acts">
    <% @acts.each do |act| %>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="img-div">
            <%= link_to image_tag(act.image, class: "img-circle" ), act_path(act) %>
              <div class="act-display-name">
                <%= link_to act.name, act_path(act), class: "act-text-display" %>
              </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

<script>
$("#show-all").on('click', function() {
  $("#hide-all").slideToggle("slow", function() {
    if ($(this).is("visible")); {
      $('html,body').animate({
      scrollTop: $(this).offset().top -65
      },"slow");
    }
  });
  return false;
});
</script>







