.act-header {
  margin-top:4rem;
  font-size: 3em;
  color:black;
  font-weight: 400;
  text-align:center;
  padding-bottom:3%;
}

.description {
  max-width:85%;
  margin-left:6%;
  font-size:1.2em;
}

.act-details {
  font-size: 1.0em;
  font-weight:300;
  max-width:85%;
  margin-left:6%;
}

.act-image-wrapper {
   text-align: center;
}

.act-image-big {
   border-radius: 5px;
   margin: 5px;
}

.user-session {
  text-align:center;
  border-style: solid;
  border-color:#BD25FF;
  padding-top: 1.2%;
  width:30%;
  font-size:1em;
}
