.act-header {
  margin-top:4rem;
  font-size: 3em;
  color:black;
  font-weight: 400;
  text-align:center;
}

.description {
  max-width:85%;
  margin-left:6%;
  font-size:1.2em;
}

.act-details {
  font-size: 1.0em;
  font-weight:300;
  max-width:85%;
  margin-left:6%;
}

.act-image-wrapper {
   text-align: center;
}

.act-image-big {
   border-radius: 5px;
   margin: 5px;
}
