@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700);
@import "navbar_menu";
@import "user_profile";
@import "home_page";
@import "act_page";
@import "venue_page";
@import "schedule_page";

body, html {
  margin-top: 30px;
  width: 100% !important;
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("little-pluses.png");
}

.alert {
  padding-top: 0.8%;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success  {
  color: #BD25FF;
  font-size: 1.3em;
  background-color: black;
  font-weight: bolder;
}

.alert-danger {
  color: #BD25FF;
  font-size: 1.3em;
  background-color: black;
  font-weight: bolder;
}

.main-jumbotron {
  background-image: url("jumbotron copy.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  margin-left:-5%;
  padding :0px;
  height: 750px;
  width: 110% !important;
  margin-top: -12%;
}

 .main-logo {
  max-height: 90%;
  max-width: 90%;
  padding-top: 13%;
  bottom: 10%;
  margin: auto;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}







