.schedule-header {
  color: black;
  text-align: center;
  font-size: 4em;
  padding-top:2.5%;
  padding-bottom:0%;
}

#schedule-display {
  padding-top:3%;
  padding-bottom:3%;
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

#schedule-display-3 {
  clear: left;
  float: left;
  width: 100%;
  position: relative;
  right: 25%;
}

#schedule-display-2 {
  clear: left;
  float: left;
  width: 100%;
  position: relative;
  right: 25%;
}

#schedule-display-1 {
  float: left;
  width: 100%;
  position: relative;
  right: 25%;

}

#col1 {
  float: left;
  width: 21%;
  position: relative;
  left: 77%;
  border-right: 1px solid #BD25FF;
}

#col2 {
  float: left;
  width: 21%;
  position: relative;
  left: 81%;
  border-right: 1px solid #BD25FF;
}

#col3 {
  float: left;
  width: 21%;
  position: relative;
  left: 85%;
  border-right: 1px solid #BD25FF;

}

#col4 {
  float: left;
  width: 21%;
  position: relative;
  left: 89%;
}

