
#map {
  width: 975px;
  height: 500px;
  text-align:center;
}

.venue-header {
  margin-top:4rem;
  font-size: 3em;
  color:black;
  font-weight: 400;
  text-align:center;
}

.venue-description {
  max-width:85%;
  margin-left:6%;
  font-size:1.2em;
}
